{% comment %} {% extends 'base.html' %} {% endcomment %}


{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/style.css' %}">
{% endblock head %}

<section class="header">
    <nav class="bd-navbar navbar is-light" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'reviews:home' %}">
                    <p class="title">Coffee Reviews</p>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'reviews:home' %}">
                        All coffee bars
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% if auth.is_authenticated %}
                            <div class="buttons">
                                <a class="button is-light is-link is-small">
                                    <strong>{{ auth.first_name }} {{ auth.last_name }}</strong>
                                </a>
                                <a class="button is-primary is-small" href="{% url 'reviews:logout' %}">
                                    Sign out
                                </a>
                            </div>
                        {% else %}
                            <div class="buttons">
                                <a class="button is-primary is-small" href="{% url 'reviews:register' %}">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-light is-small" href="{% url 'reviews:login' %}">
                                    Log in
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    </div>
</section>


{% block content %}
<div>
    <img class="img-item" src="{{ coffee_bar.image.url }}" width="100px" height="auto">
    <h1>{{ coffee_bar.name }}</h1><br>
</div>


<div class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
	<div>
		<p class="address">Địa chỉ: {{ coffee_bar.address }}</p>
		<p class="vote">Đánh giá: {{ coffee_bar.avg_vote }}</p>
		<p class="coffee-bar-description">{{ coffee_bar.description }}</p>
	</div>
</div>


 <div class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
	<h1 class="text-black font-bold">Menu</h1>
		{% csrf_token %}
		{% for menu in coffee_bar.menu_set.all %}
		<div class="item">
			<div class="coffee-img">
            <img class="img-item" src="{{ menu.image.url }}" width="150px" height="auto">
			</div>
			<div class="item_menu">
				<label class="name" for="menu{{ forloop.counter }}">{{ menu.name }}</label>
				<label class="description" for="menu{{ forloop.counter }}">{{ menu.description }}</label>
				<label class="price" for="menu{{ forloop.counter }}">{{ menu.price }}đ</label>
			</div>
		</div>
		{% endfor %}

</div>


<div class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
	<h1 class="text-black font-bold">Nhận xét</h1>
		{% csrf_token %}
		{% if reviews %}
			{% for review in reviews %}
				<div class="item">
					<label class="user-name" for="review{{ forloop.counter }}">{{ review.author.last_name }} {{ review.author.first_name }}</label>
					<label class="vote" for="review{{ forloop.counter }}">{{ review.vote }} sao</label>
					<label class="description" for="review{{ forloop.counter }}">{{ review.description }}</label>
					<label class="time" for="review{{ forloop.counter }}">{{ review.created_at }}</label>
				</div>
			{% endfor %}
		{% else %}
        	<p>Không có nhận xét nào.</p>
    {% endif %}
</div>

 {% if auth.is_authenticated %}
<div class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
<h1 class="text-black font-bold">Đánh giá</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="notification is-danger">
                <ul>
                    {% for key, value in form.errors.items %}

                        <li>
                            {{ value }}
                        </li>

                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for field in form %}
            <div class="field">
                <label class="label is-small">
                    {{ field.label_tag }}
                </label>
                <div class="control">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-primary is-small">Gửi đánh giá</button>
            </div>
        </div>
    </form>
</div>
{% else %}
<p><a href="{% url 'reviews:login' %}">Đăng nhập</a> để đánh giá.
</p>
{% endif %}

{% endblock content %}

