{% comment %} {% extends 'base.html' %} {% endcomment %}

{% load static %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/style.css' %}">
    <link href="{% static 'reviews/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'reviews/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="assets/css/owl.css">

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'reviews:home' %}">Home</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reviews:home' %}">All Coffee Bars</a>
                </li>
                {% if auth.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"><strong>{{ auth.first_name }} {{ auth.last_name }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews:logout' %}">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews:register' %}"><strong>Sign up</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews:login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
{% endblock head %}



{% block content %}
    {% if list %}
        <div class="reviews">
            {% for coffeeBar in list %}
            <div class="cont shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
                <div class="coffee-img">
                    <img class="img-item" src="{{ coffeeBar.image.url }}" width="200px" height="auto">
                </div>
                <div>
                    <h2>
                        <a href="{% url 'reviews:detail' coffeeBar.id %}">{{ coffeeBar.name }}</a>
                    </h2> 
                    <div>
                        <p class="address">Địa chỉ: {{ coffeeBar.address }}</p>
                        <p class="vote">Đánh giá: {{ coffeeBar.avg_vote }}</p>
                        <p class="summary">{{ coffeeBar.summary }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% else %}
        <p>Không có quán cafe nào.</p>
    {% endif %}
{% endblock %}