{% comment %} {% extends 'base.html' %} {% endcomment %}


{% load static %}

{% block head %}
<!--    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/style.css' %}">
    <link href="{% static 'reviews/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'reviews/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="assets/css/owl.css">

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand"><h2>{{ coffee_bar.name }}</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'reviews:home' %}">Home</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#about_id">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu_id">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#review_id">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#vote_id">Vote</a>
              </li>
              {% if auth.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"><strong>{{ auth.first_name }} {{ auth.last_name }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews:logout' %}">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews:register' %}"><strong>Sign up</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews:login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
{% endblock head %}



{% block content %}
<div>
    <h1>{{ coffee_bar.name }}</h1><br>
</div>


<div id="about_id" class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
	<div >
		<p class="address">Địa chỉ: {{ coffee_bar.address }}</p>
		<p class="vote">Đánh giá: {{ coffee_bar.avg_vote }}</p>
		<p class="coffee-bar-description">{{ coffee_bar.description }}</p>
	</div>
</div>


 <div id="menu_id" class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
	<h1 class="text-black font-bold">Menu</h1>
		{% csrf_token %}
		{% for menu in coffee_bar.menu_set.all %}
		<div class="item">
			<div class="coffee-img">
            <img class="img-item" src="{{ menu.image.url }}" width="150px" height="auto">
			</div>
			<div class="item_menu">
				<label class="name" for="menu{{ forloop.counter }}">{{ menu.name }}</label>
				<label class="description" for="menu{{ forloop.counter }}">{{ menu.description }}</label>
				<label class="price" for="menu{{ forloop.counter }}">{{ menu.price }}đ</label>
			</div>
		</div>
		{% endfor %}

</div>


<div id="review_id" class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
	<h1 class="text-black font-bold">Review</h1>
		{% csrf_token %}
		{% if reviews %}
			{% for review in reviews %}
				<div class="item">
					<label class="user-name" for="review{{ forloop.counter }}">{{ review.author.last_name }} {{ review.author.first_name }}</label>
					<label class="vote" for="review{{ forloop.counter }}">{{ review.vote }} sao</label>
					<label class="description" for="review{{ forloop.counter }}">{{ review.description }}</label>
					<label class="time" for="review{{ forloop.counter }}">{{ review.created_at }}</label>
				</div>
			{% endfor %}
		{% else %}
        	<p>There aren't any review.</p>
    {% endif %}
</div>

 {% if auth.is_authenticated %}
<div id="vote_id" class="shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
<h1 class="text-black font-bold">Vote</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="notification is-danger">
                <ul>
                    {% for key, value in form.errors.items %}

                        <li>
                            {{ value }}
                        </li>

                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for field in form %}
            <div class="comment field">
                <label class="label is-small">
                    {{ field.label_tag }}
                </label>
                <div class="control">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

    </form>
    <div>
        <button type="submit" class="btn button is-primary is-small" id="submit-btn-id">Send review</button>
    </div>
</div>
{% else %}
<p><a href="{% url 'reviews:login' %}">Login</a> to review
</p>
{% endif %}

{% endblock content %}

