body{
    max-width: 800px;
    margin: 40px auto;
    padding: 32px;


     /*    background: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url("images/background.jpeg") no-repeat;
     background: white;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background: white url("images/background.jpeg") no-repeat;*/
}
/*  */
/*  */
/*.shadow-2xl {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 5em;
}  */

.shadow-2xl {
    min-width: 800px;
    margin: 20px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.cont {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 2em;
}

.text-5xl{
    font-size: 80px !important;
    text-align: center;
    color: #E27D60;
}

.text-black {
    text-decoration: none;
}

.coffee-name{
     color: #1d3557;
}

.review-votes {

}
.my-3{
    color: red;
    line-height: 30px;
}

.uppercase {
    font-size: 80px !important;
    text-align: center;
    color: #E27D60; /*green*/
}

h1{
 color: #1d3557;
}

.font-bold{
    text-align: center;
    font-size: 48px;
    margin-top: -10px;
}
.item{
      line-height: 40px;
        color: #1d3557;
      /*text-align: center;*/
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1em;
      padding-top: 15px;
      /* border-bottom: 0.5px dashed #1d3557; */
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.item:not(:first-child){
    border-top: 0.5px outset #f7f3f5;
}

.item_menu {
    display: flex;
    flex-direction: column;
    line-height: 52px;
}

.name {
    font-size: 36px;
}

.description{
    font-size: 24px;
    color: #a59aa0;
}

.price, .address, .vote, .coffee-bar-description{
    font-size: 24px;
}

.comment {
     line-height: 40px;
    margin-left: 360px;

}
.mt-3{
    font-size: 24px;
    text-align: center;
    background-color: #E27D60;
    padding: 10px 20px;
    color: white;
    margin-left: 350px;
    margin-top: 50px;
    transition: all 0.5s ease-in;
}

.result {
    color: #E27D60;
    font-size: 80px;
}

.comment-again{
    text-decoration: none;
    margin-left: 36px;
    font-size: 20px;
}