{% extends 'base.html' %}

{% block content %}
    {% if list %}
        <div class="reviews">
            {% for coffeeBar in list %}
            <div class="cont shadow-2xl bg-white rounded-md mb-5 px-4 py-4">
                <div class="coffee-img">
                    <img class="img-item" src="{{ coffeeBar.image.url }}" width="100px" height="auto">
                </div>
                <div>
                    <h2>
                        <a href="{% url 'reviews:detail' coffeeBar.id %}">{{ coffeeBar.name }}</a>
                    </h2> 
                    <div>
                        <p class="address">Địa chỉ: {{ coffeeBar.address }}</p>
                        <p class="vote">Đánh giá: {{ coffeeBar.avg_vote }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% else %}
        <p>Không có quán cafe nào.</p>
    {% endif %}
{% endblock %}